# Local Database (comment out for production)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# use the following command to generate two different tokens
# node -e "console.log(require('crypto').randomBytes(256).toString('base64'));"
JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=
\
# Email and token from Resend
RESEND_TOKEN=
NOTIFICATION_EMAIL=

# Appwrite Configuration for file uploads
APPWRITE_PROJECT_ID=
APPWRITE_BUCKET_ID=
